Source: qtvideo-node
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libgl1-mesa-dev[!armhf],
               libgles2-mesa-dev[armhf],
               libhybris-dev (>=0.1.0+git20131207+e452e83-0ubuntu3),
               libmedia-hub-dev(>=3.0.0),
               libplatform-api-headers | ubuntu-platform-api-headers,
               libpulse-dev,
               libqt5opengl5-dev,
               libqtubuntu-media-signals-dev (>=0.3+15.04.20150618.1-0ubuntu1),
               pkg-config,
               qt5-default,
               qtdeclarative5-dev,
               qtdeclarative5-private-dev,
               qtmultimedia5-dev,
               qml-module-qttest,
               qml-module-qtmultimedia,
               qml-module-qtquick2,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/qtvideo-node
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/qtvideo-node/trunk

Package: qtvideonode-plugin
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Plugin for showing camera viewfinder in Qt
 Plugin for showing camera viewfinder in Qt as well as the video surface in the
 media-player
